.hero {
    width:100%;
    height:500px;
    background: url('../img/Megan-Gray-1484.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
  }
  .hero h5 {
    color:white;
    text-shadow:2px 2px rgb(88, 88, 88);
    text-align: center;
  }

.picture {
  padding:10px;
}

.thumbnails {
  width:33%;
  padding:2px;
}

/* container used to position main page buttons */
/* .container {
  position: relative;
  width: 25%;
} */

/* Make img responsive */
.container img {
  width: 100%;
  height: auto;
}

/* Style button and place it in the middle of the image */
/* .container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
} */

.container .btn:hover {
  background-color: black;
}